
.card{
    width: calc(100% / 3);
    position: relative;
}

.card-content{
    position: absolute;
    bottom: 50px;
    top: 85%; right: 50%;
    transform: translate(50%,-50%);
    text-align: center;
}
.card-content h3{
    font-size: 1.5rem;
    text-wrap: nowrap;
}
.card-content span{
    color: #808080;
}
.card-content .price{
    font-size: 1.5rem;
}
.add-basket{
    background-color: rgb(105, 105, 255);
    color: white;
    padding: 8px 15px;
    border-radius: 8px;
    margin-top: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.add-basket:hover{
    background-color: rgb(60, 60, 247);
}
.fav{
    position: absolute;
    right: 20px;
    top: 50px;
}


.card-img img{
    width: 100%;
    object-fit: cover;
}

@media (max-width: 760px) {
    .card{
        width: calc(100% / 2);
        position: relative;
    }
}
@media (max-width: 450px) {
    .card{
        width: 100%;
        position: relative;
    }
}