*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
a{
  text-decoration: none;
  color: rgb(48, 48, 48);
}
ul{
  list-style: none;
}
.container{
  width: 80%;
  margin: 0 auto;
}

